In [1]:
from decimal import Decimal 
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
dt = [{'readings': {'power': Decimal('2'), 'reading_time': Decimal('1705183578'), 'rms_current': Decimal('0.010568359'), 'watt_hours': Decimal('105')}, 'device_id': 'acs_000', 'sample_time': Decimal('1705172778893')}, {'readings': {'power': Decimal('2'), 'reading_time': Decimal('1705183428'), 'rms_current': Decimal('0.010568359'), 'watt_hours': Decimal('0')}, 'device_id': 'acs_000', 'sample_time': Decimal('1705172628968')}, {'readings': {'power': Decimal('5'), 'reading_time': Decimal('1705180448'), 'rms_current': Decimal('0.021960449'), 'watt_hours': Decimal('54')}, 'device_id': 'acs_000', 
'sample_time': Decimal('1705169648931')}, {'readings': {'power': Decimal('5'), 'reading_time': Decimal('1705183951'), 'rms_current': Decimal('0.021960449'), 'watt_hours': Decimal('1351')}, 'device_id': 'acs_000', 'sample_time': Decimal('1705173152037')}, {'readings': {'power': Decimal('5'), 'reading_time': Decimal('1705180390'), 'rms_current': Decimal('0.021960449'), 'watt_hours': Decimal('5')}, 'device_id': 'acs_000', 'sample_time': Decimal('1705169591578')}]

In [4]:
type(dt)

list

In [5]:
pd.DataFrame(dt)

                                            readings device_id    sample_time
0  {'power': 2, 'reading_time': 1705183578, 'rms_...   acs_000  1705172778893
1  {'power': 2, 'reading_time': 1705183428, 'rms_...   acs_000  1705172628968
2  {'power': 5, 'reading_time': 1705180448, 'rms_...   acs_000  1705169648931
3  {'power': 5, 'reading_time': 1705183951, 'rms_...   acs_000  1705173152037
4  {'power': 5, 'reading_time': 1705180390, 'rms_...   acs_000  1705169591578

In [6]:
df = pd.json_normalize(dt)

In [7]:
df

,device_id,sample_time,readings.power,readings.reading_time,readings.rms_current,readings.watt_hours
0,acs_000,1705172778893,2,1705183578,0.010568359,105
1,acs_000,1705172628968,2,1705183428,0.010568359,0
2,acs_000,1705169648931,5,1705180448,0.021960449,54
3,acs_000,1705173152037,5,1705183951,0.021960449,1351
4,acs_000,1705169591578,5,1705180390,0.021960449,5

In [8]:
df.query("`readings.reading_time`>=1705180390")['readings.watt_hours'].sum()

Decimal('1515')

In [9]:
cols= lambda x: x.replace('readings.', '')
pd.json_normalize(dt).rename(columns=cols)

  device_id    sample_time power reading_time  rms_current watt_hours
0   acs_000  1705172778893     2   1705183578  0.010568359        105
1   acs_000  1705172628968     2   1705183428  0.010568359          0
2   acs_000  1705169648931     5   1705180448  0.021960449         54
3   acs_000  1705173152037     5   1705183951  0.021960449       1351
4   acs_000  1705169591578     5   1705180390  0.021960449          5